@font-face {
    font-family: JosefinSans;
    src: url(./font/static/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./font/static/Poppins-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.pink {
    background-color: #f7adc3;
    height: 2.5rem;
    width: 100%;
}

.logo {
    text-align: center;
    margin: 30px 0px;
    width: 100%;
}

.nav-menu {
    display: none; 
}

.nav-line {
    width: 30px;
    height: 3px;
    background-color: rgb(190, 190, 190);
    margin: 6px 0; 
}

.menu-h {
    max-width: 1.063rem;
    padding-left: 10px;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

ul {
    padding: 0;
}

.menu {
    margin-top: 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font: 1.5rem JosefinSans;
    font-weight: bold;
}

.topic {
    font: 7.5rem JosefinSans;
    color: #F3649B;
    font-weight: 600;
    letter-spacing: 1px;
}

.topic p {
    margin-top: 80px;
    margin-bottom: 10px;
}

.sup-topic {
    font-family: JosefinSans;
    font-size: 2.6rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.sup-topic p {
    margin: 30px 0px 0px 0px;
}

.line {
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 50px;
    border-bottom: 4px solid black;
}

.btn {
    border-style: none;
    background-color: #F3649B;
    border-radius: 25px;
    padding: 8px 25px;
    margin-top: 30px;
}

.btn a {
    text-decoration: none;
    color: white;
    font: 20px Poppins;
    font-weight: bold;
}

.heart {
    margin-top: 205px;
}

.heart img {
    width: 48px;
    height: auto;
    margin: 10px 15px 0px 0px;
}

.img1 {
    max-width: 35.625rem;
    height: auto;
}

.img2,
.img3 {
    max-width: 17.344rem;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content-img {
    margin-top: 80px;
}

.content-sup-img {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.ig-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 120px 0px;
}

.ig1 {
    background-image: url(./img/ig1.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig2 {
    background-image: url(./img/ig2.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig3 {
    background-image: url(./img/ig3.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.ig4 {
    background-image: url(./img/ig4.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig5 {
    background-image: url(./img/ig5.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig6 {
    background-image: url(./img/ig6.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig7 {
    background-image: url(./img/ig7.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig8 {
    background-image: url(./img/ig8.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig9 {
    background-image: url(./img/ig9.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig10 {
    background-image: url(./img/ig10.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig11 {
    background-image: url(./img/ig11.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ig12 {
    background-image: url(./img/ig12.jpg);
    height: 24.25rem;
    width: 24.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 9;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

footer img {
    padding-right: 15px;
}

@media screen and (max-width:1170px) {
    .pink {
        background-color: #f7adc3;
        height: 0.25rem;
        width: 100%;
    }

    .logo {
        text-align: left;
        margin: 30px 0px;
    }

    .nav {
        max-width: 800px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: block; 
    }
    
    .nav-line {
        width: 30px;
        height: 3px;
        background-color: rgb(190, 190, 190);
        margin: 6px 0; 
    }

    .container {
        max-width: 800px;
        margin: 0px auto;
    }

    .content {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
    }

    .menu {
        margin-top: 40px;
        display: none;
    }

    .topic {
        font: 4.375rem JosefinSans;
        color: #F3649B;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .topic p {
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .sup-topic {
        font-family: JosefinSans;
        font-size: 1.875rem;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .sup-topic p {
        margin: 30px 0px 0px 0px;
    }

    .line {
        padding-top: 10px;
        padding-bottom: 5px;
        line-height: 50px;
        border-bottom: 4px solid black;
    }

    .btn {
        border-style: none;
        background-color: #F3649B;
        border-radius: 25px;
        padding: 8px 25px;
        margin-top: 30px;
    }

    .btn a {
        text-decoration: none;
        color: white;
        font: 0.875rem Poppins;
        font-weight: bold;
    }

    .heart {
        margin-top: 60px;
    }

    .heart img {
        width: 1.875rem;
        height: auto;
        margin: 10px 15px 0px 0px;
    }

    .img1 {
        max-width: 21.563rem;
        height: auto;
    }

    .img2,
    .img3 {
        max-width: 10.313rem;
        height: auto;
    }

    .content-img {
        margin-top: 80px;
    }

    .content-sup-img {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .ig-photo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 120px 0px;
    }

    .ig1 {
        background-image: url(./img/ig1.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig2 {
        background-image: url(./img/ig2.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig3 {
        background-image: url(./img/ig3.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .ig4 {
        background-image: url(./img/ig4.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig5 {
        background-image: url(./img/ig5.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig6 {
        background-image: url(./img/ig6.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig7 {
        background-image: url(./img/ig7.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig8 {
        background-image: url(./img/ig8.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig9 {
        background-image: url(./img/ig9.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig10 {
        background-image: url(./img/ig10.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig11 {
        background-image: url(./img/ig11.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig12 {
        background-image: url(./img/ig12.jpg);
        height: 16.563rem;
        width: 16.563rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 9;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    footer img {
        padding-right: 15px;
    }
}

@media screen and (max-width: 830px) {
    .pink {
        background-color: #f7adc3;
        height: 0.25rem;
        width: 100%;
    }

    .logo {
        text-align: left;
        margin: 30px 0px;
    }

    .logo img {
        max-width: 10.625rem;
        height: auto;
    }

    .nav {
        max-width: 700px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: block; 
    }
    
    .nav-line {
        width: 30px;
        height: 3px;
        background-color: rgb(190, 190, 190)k;
        margin: 6px 0; 
    }

    .container {
        max-width: 700px;
        margin: 0px auto;
    }

    .content {
        max-width: 43rem;
        display: block;
        justify-content: space-between;
        margin: 0px auto;
    }

    .menu {
        margin-top: 40px;
        display: none;
    }

    .topic {
        font: 4.375rem JosefinSans;
        color: #F3649B;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .topic p {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .sup-topic {
        font-family: JosefinSans;
        font-size: 1.875rem;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .sup-topic p {
        margin: 10px 0px 0px 0px;
    }

    .line {
        padding-top: 10px;
        padding-bottom: 5px;
        line-height: 50px;
        border-bottom: 4px solid black;
    }

    .btn {
        border-style: none;
        background-color: #F3649B;
        border-radius: 25px;
        padding: 8px 25px;
        margin-top: 20px;
    }

    .btn a {
        text-decoration: none;
        color: white;
        font: 0.875rem Poppins;
        font-weight: bold;
    }

    .heart {
        margin-top: 60px;
    }

    .heart img {
        width: 1.875rem;
        height: auto;
        margin: 10px 15px 0px 0px;
    }

    .img1 {
        max-width: 43rem;
        height: auto;
    }

    .img2,
    .img3 {
        max-width: 20.5rem;
        height: auto;
    }

    .content-img {
        margin-top: 10px;
    }

    .content-sup-img {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .ig-photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 120px 0px;
    }

    .ig1 {
        background-image: url(./img/ig1.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig2 {
        background-image: url(./img/ig2.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig3 {
        background-image: url(./img/ig3.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .ig4 {
        background-image: url(./img/ig4.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig5 {
        background-image: url(./img/ig5.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig6 {
        background-image: url(./img/ig6.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig7 {
        background-image: url(./img/ig7.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig8 {
        background-image: url(./img/ig8.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig9 {
        background-image: url(./img/ig9.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig10 {
        background-image: url(./img/ig10.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig11 {
        background-image: url(./img/ig11.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig12 {
        background-image: url(./img/ig12.jpg);
        height: 21.5rem;
        width: 21.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 9;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    footer img {
        padding-right: 15px;
    }
}

@media screen and (max-width: 680px) {
    .pink {
        background-color: #f7adc3;
        height: 0.25rem;
        width: 100%;
    }

    .logo {
        text-align: left;
        margin: 30px 0px;
    }

    .logo img {
        max-width: 10.625rem;
        height: auto;
    }

    .nav {
        max-width: 400px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: block; 
    }
    
    .nav-line {
        width: 30px;
        height: 3px;
        background-color: rgb(190, 190, 190);
        margin: 6px 0; 
    }

    .container {
        max-width: 400px;
        margin: 0px auto;
    }

    .content {
        max-width: 43rem;
        display: block;
        justify-content: space-between;
        margin: 0px auto;
    }

    .menu {
        margin-top: 40px;
        display: none;
    }

    .topic {
        font: 4.375rem JosefinSans;
        color: #F3649B;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .topic p {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .sup-topic {
        font-family: JosefinSans;
        font-size: 1.875rem;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .sup-topic p {
        margin: 10px 0px 0px 0px;
    }

    .line {
        padding-top: 10px;
        padding-bottom: 5px;
        line-height: 50px;
        border-bottom: 4px solid black;
    }

    .btn {
        border-style: none;
        background-color: #F3649B;
        border-radius: 25px;
        padding: 8px 25px;
        margin-top: 20px;
    }

    .btn a {
        text-decoration: none;
        color: white;
        font: 0.875rem Poppins;
        font-weight: bold;
    }

    .heart {
        margin-top: 60px;
    }

    .heart img {
        width: 1.875rem;
        height: auto;
        margin: 10px 15px 0px 0px;
    }

    .img1 {
        max-width: 25rem;
        height: auto;
    }

    .img2,
    .img3 {
        max-width: 12.031rem;
        height: auto;
    }

    .content-img {
        margin-top: 10px;
    }

    .content-sup-img {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .ig-photo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 0px;
    }

    .ig1 {
        background-image: url(./img/ig1.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig2 {
        background-image: url(./img/ig2.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig3 {
        background-image: url(./img/ig3.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .ig4 {
        background-image: url(./img/ig4.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig5 {
        background-image: url(./img/ig5.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig6 {
        background-image: url(./img/ig6.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig7 {
        background-image: url(./img/ig7.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig8 {
        background-image: url(./img/ig8.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig9 {
        background-image: url(./img/ig9.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig10 {
        background-image: url(./img/ig10.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig11 {
        background-image: url(./img/ig11.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ig12 {
        background-image: url(./img/ig12.jpg);
        height: 25rem;
        width: 25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 9;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    footer img {
        padding-right: 15px;
    }
}